*
!*.sh
!cursor
!zsh
!tmux
!nvim
!iterm2
!ergodox
!kitty
!zathura
!custom_commands
!sketchybar
!claude
!tmux/**
!zsh/**
!nvim/**
!iterm2/**
!ergodox/**
!kitty/**
!zathura/**
!custom_commands/**
!cursor/**
!sketchybar/**
!claude/**
zsh/.zcompdump*
zsh/.zsh_history
zsh/.zsh_sessions*
**/.DS_Store
test-docker/
test-scripts/
iterm2/sockets/
