*
!*.sh
!cursor
!zsh
!tmux
!nvim
!iterm2
!ergodox
!kitty
!zathura
!custom_commands
!tmux/**
!zsh/**
!nvim/**
!iterm2/**
!ergodox/**
!kitty/**
!zathura/**
!custom_commands/**
!cursor/**
zsh/.zcompdump*
zsh/.zsh_history
zsh/.zsh_sessions*
**/.DS_Store
